.navbar{
  padding: 10px;
  margin: 20px;
}
.navbar-brand {
  color: #ffffff; 
}
.form-container {
  margin-top: 50px;
}
.btn-custom {
  background-color: #007bff;
  color: #ffffff;
  margin: 10px;
}
.form-check-label {
  color: #ffffff;
}
.profile-pic {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  background-color: #ffffff; 
  border: 2px solid #007bff; 
  display: inline-block;
}
.ml-auto{
  margin-left: auto; 
  margin-right: 20px
}

input[type="password"]:disabled {
  background-color: #9c9c9c; 
  color: #bbbbbb; 
  border-color: #9c9c9c;
}