/* src/css/pages/home.css */
body {
    background-color: #000;
}

.navbar{
    padding: 10px;
    margin: 20px 20px 20px 20px
}
.card {
    border: none;
}
.card-body{
    height: 150px;
}
.card-title{
    font-size: 20px;
    font-weight: bold;
}

/* .btn {
    background-color: #007bff;
    width: 200px;
    height: 150px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
} */

.btn-info {
    width: 30%;
    height: 150px;
    background-color: #007bff;
    border: none;
    font-weight: bold;
   
}
.btn-info:hover {
    background-color: #2c8bf0;
}

.profile-pic {
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 40px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%; /* Faz o círculo */
    background-color: #fff; /* Cor de fundo, pode ser a cor da imagem */
    border: 2px solid #007bff; /* Borda azul */
    display: inline-block; /* Para alinhar corretamente */
}
.ml-auto{
    margin-left: auto; 
    margin-right: 20px
}