.competitor-box {
  background-color: #000000;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  max-height: 600px;
  align-items: center;
}
.btn-vote, .btn-explore {
  margin: 5px;
  width: auto;
}
.btn-explore {
  background-color: #fff;
  color: #000;
}
.btn-primary,.btn-vote{
  background-color:#5bc0de;
  border: none;
}
.vote-count {
  font-size: 1.2em; 
  margin-bottom: 10px; 
}
.competitor-image {
  width: 97%;
  height: 350px;
  border-radius: 10px;
  margin: 0 auto;
}
.dropdown-menu {
    background-color: #538bc7; 
    display: none; 
}
.dropdown-menu.show {
    display: block; 
}
.dropdown-item {
    color: #ffffff; 
}
.dropdown-item:hover {
    background-color: #0056b3; 
}
.main-container{
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}