.navbar{
  padding: 10px;
  margin: 20px ;
}

.competitor-box {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  margin: 15px;
  text-align: center;
  width: 200px;
  flex: 1 1 200px;
}
.btn-vote, .btn-explore {
  margin: 5px;
}
.btn-explore {
  background-color: #fff;
  color: #000;
}
.btn-primary,.btn-vote{
  background-color:#5bc0de;
  border: none;
}
.vote-count {
  font-size: 1.2em; 
  margin-bottom: 10px; 
}
.competitor-image {
  width: 80%; 
  height: 80%; 
  border-radius: 10px;
  margin-bottom: 10px; 
}
.competitor-box {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 430px;
}
.profile-pic {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  background-color: #ffffff; 
  border: 2px solid #007bff; 
  display: inline-block;
}
.ml-auto{
  margin-left: auto; 
  margin-right: 20px
}
.dropdown-menu {
    background-color: #538bc7; 
    display: none; 
}
.dropdown-menu.show {
    display: block; 
}
.dropdown-item {
    color: #fff; /* Cor do texto */
}
.dropdown-item:hover {
    background-color: #0056b3; 
}