.card {
    border: none;
}
.card-body{
    height: 200px;
}
.card-title{
    font-size: 20px;
    font-weight: bold;
}
.btn-info {
    width: 30%;
    height: 150px;
    background-color: #5bc0de;
    border: none;
    font-weight: bold;
    text-align: center;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-info:hover {
    background-color: #36b0d4;
}

.main-container{
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
